.right {
  margin-top: 1.4rem;
  margin-left: -1rem;
}
.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
  right: 5em;
  position: relative;
}

.right .top button {
  display: none;
}
.right .theme-toggler {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: 10px;
}
.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler span.active {
  background: linear-gradient(
    45deg,
    var(--dark-orange) 30%,
    var(--light-orange) 90%
  );
  color: white;
  border-radius: 10px;
}
.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}
.right .recent-updates {
  margin-top: 1rem;
}

.right .recent-updates h2 {
  margin-bottom: 0.8rem;
}
.right .recent-updates .updates {
  background: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  width: 80%;
}
.right .recent-updates .updates:hover {
  box-shadow: none;
}
.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .right {
    width: 100%;
    margin: 0 auto 4rem;
  }
  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: white;
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem rgb(235, 233, 233);
  }
  .right .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
  .right .profile .info {
    display: none;
  }
  .right .top button {
    display: inline-block;
    color: rgb(249, 246, 246);
    position: absolute;
    cursor: pointer;
    left: 1rem;
    padding: 0.7rem;
    border-radius: 1rem;
  }
  .right .top button span {
    font-size: 2rem;
  }
}
